@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    min-height: 100vh;
    background: #111111;
    padding-bottom: 30px;
    font-family: Roboto, "Source sans pro", sans-serif;
}

.logo h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 90px;
    font-weight: 700;
    padding: 0px 0 25px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
}

.g-pass{
    display: block;
    width: 320px;
    margin: 0 auto;
    background: #212121;
    color: #E9E9E9;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px #000000;
    margin-bottom: 50px;
}

.g-pass .head{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    background-image: linear-gradient(135deg, #20C4AE 0%, #08ea95 100%);
    color: #212121
}

.g-pass .head .title{
    line-height: 2.77;
    font-size: 19px;
    font-weight: 700;
}

.g-pass .content{
    padding-top: 10px
}

.g-pass .param{
    display: block;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 25px;
    line-height: 1.7
} 

.g-pass .param label{
    cursor: pointer;
    text-transform:capitalize;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.9;
}

.g-pass .param label:hover{
    text-decoration: underline;
}

.g-pass .param input{
    float: right;
    cursor: pointer;
}

.g-pass .param input.length{
    display: inline-block;
    width: 45px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    font-family: Roboto, "Source sans pro", sans-serif;
    outline: none;
    border-radius: 3px;
    border: none;
    background: #111;
    color: #20C4AE;
}

.g-pass .result{
    display: block;
    clear: both;
    text-align: center;
    padding: 25px;
}

.g-pass .result textarea.generated,
.g-pass .result textarea.generated_with_chars,
.g-pass  textarea.chars{
    font-size: 15px;
    height: 40px;
    max-height: 150px;
    min-height: 40px;
    min-width: 100%;
    max-width: 100%;
    background: #111;
    color: #EFEFEF;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    font-family: Roboto, "source sans pro", sans-serif;
    word-wrap: break-word;
    overflow-y: scroll;
    border: 2px solid #111;
    outline:  none;
}

.g-pass .result textarea.generated:focus,
.g-pass .result textarea.generated_with_chars:focus{
    border: 2px solid #0da591
}

.g-pass .result button{
   display: block;
   margin: 0 auto;
   margin-top: 10px;
   font-size: 14px;
   padding: 13px 100px;
   font-family: Roboto, "Source sans pro", sans-serif;
   text-transform: uppercase;
   font-weight: 700;
   background: linear-gradient(135deg, #0da591 0%, #08ea95 100%);
   border-radius: 3px;
   border: none;
   cursor: pointer;
   color: #111;
   transition: all 250ms ease;
   opacity: 0.85;
}

.g-pass .result button:hover{
   opacity: 1
}

.param input[type="checkbox"]{
    height: 17px;
    width: 40px;
    margin-top: 7px;
    position: relative;
    margin-right: 2px;
}

.param input[type="checkbox"]:before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #111;
    border-radius: 10px;
    transition: all 250ms ease
}

.param input[type="checkbox"]:after{
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #555;
    transition: all 250ms ease forwards
}

.param input[type="checkbox"]:checked:after{
    left: calc(100% - 15px);
    background: linear-gradient(90deg, #5cdead 0%, #0da591 100%);
}

.param.param_chars {
    text-align:center;
    height: auto;
}
.param.param_chars label{
    float: none;
}